.navbar {
  border-radius: 5px;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.nav-item {
  margin: 0px 2px;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: rgb(128, 128, 128);
}

.nav-username {
  cursor: default;
}
