<div class="container-fluid">
  <form [formGroup]="advertForm" autocomplete="off" novalidate (ngSubmit)="updateAdvert(advertForm.value)">
    <div class="form-horizontal well">
      <div class="form-group">
        <label for="title" class="control-label col-md-2">Title of the advert: </label>
        <div class="col-md-5">
          <input type="text" formControlName="title" id="title" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('title') && hasError('title', 'required')">Title is required</em>
          <em *ngIf="validateControl('title') && hasError('title', 'maxlength')">Maximum allowed length is 40 characters.</em>
          <em *ngIf="validateControl('title') && hasError('title', 'minlength')">Minimum allowed length is 6 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="shortDescription" class="control-label col-md-2">Short description: </label>
        <div class="col-md-5">
          <input type="text" formControlName="shortDescription" id="shortDescription" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('shortDescription') && hasError('shortDescription', 'required')">Short description is required</em>
          <em *ngIf="validateControl('shortDescription') && hasError('shortDescription', 'maxlength')">Short description cannot be longer than 70 characters.</em>
          <em *ngIf="validateControl('shortDescription') && hasError('shortDescription', 'minlength')">Short description cannot be shorter than 10 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="longDescription" class="control-label col-md-2">Long description: </label>
        <div class="col-md-5">
          <input type="text" formControlName="longDescription" id="longDescription" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('longDescription') && hasError('longDescription', 'required')">Long description is required</em>
          <em *ngIf="validateControl('longDescription') && hasError('longDescription', 'maxlength')">Long description cannot be longer than 450 characters.</em>
          <em *ngIf="validateControl('longDescription') && hasError('longDescription', 'minlength')">Long description cannot be shorter than 30 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl" class="control-label col-md-2">Url: </label>
        <div class="col-md-5">
          <input type="text" formControlName="imageUrl" id="imageUrl" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('imageUrl') && hasError('imageUrl', 'maxlength')">Maximum allowed length is 100 characters.</em>
          <em *ngIf="validateControl('imageUrl') && hasError('imageUrl', 'minlength')">Maximum allowed length is 15 characters.</em>
        </div>
      </div>

      <br><br>
      <div class="form-group">
        <div class="col-md-offset-5 col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!advertForm.valid">Update</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectToAdvertList()">Cancel</button>
        </div>
      </div>

    </div>
  </form>

  <app-success-modal [modalHeaderText]="'Success message'"
                     [modalBodyText]="'Action completed successfully'"
                     [okButtonText]="'OK'"
                     (redirectOnOK)="redirectToAdvertList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="errorTitle"
                   [modalBodyText]="errorMessage"
                   [okButtonText]="'OK'"></app-error-modal>
</div>
