em {
  color: #e71515;
  font-weight: bold;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.ng-valid.ng-touched {
  border-color: green;
}

body {
  background-image: url('file:///C:\Users\wojte\source\repos\Shelter4.0-Front\src\assets\img\site-background.jpg');
}
