<div class="advert-container m-2">
  <div class="advert-title-container container">
    <div class="row m-2">
      <div class="advert-title m-auto">
        <h3>{{ advert?.title }}</h3>
      </div>

      <div class="advert-button-container ml-auto">
        <div class="row">
          <div class="m-1">
            <button *ngIf="canReserve(advert?.authorId)"type="submit" class="btn btn-info" (click)="reserveAdvert()">Reserve</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="advert-body-container">
    <div class="row">
      <div class="m-auto">
        <img src="{{ advert?.imageUrl }}" class="rounded img-thumbnail" [alt]="advert?.title" />
      </div>
      <div class="advert-description col-12">
        <div class="p-3">
          <h4><b>Short description:</b></h4>
          <h5 class="p-3">{{ advert?.shortDescription }}</h5>
        </div>
        <div class="p-3">
          <h4><b>Long description:</b></h4>
          <h5 class="p-3">{{ advert?.longDescription }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
