/* You can add global styles to this file, and also import other style files */

html {
	background-image: url('/assets/img/site-background.jpg');
}

body {
	background-color: transparent;
}

/*
  Common advert styling
*/

.advert-container {
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.advert-button-container {
  margin-right: 2px;
}

.card {
    position:center;
}

.card-promoting-card {
  height: 200px;
}

.advert-body-container img {
  height: 400px;
}

.advert-body-container {
  margin: auto;
  word-wrap: break-word;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 5px;
}

.form-container:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.error-description {
  height: 0.8rem;
  text-align: center;
}

.form-title {
  text-align: center;
}
